# https://pnpm.io/zh-TW/npmrc

## 如果启用此选项，pnpm将不会安装任何声称与当前Node版本不兼容的软件包。
## 结合根目录的 package.json 中的 engines 字段，可以指定运行的 node 版和 pnpm 版本
# engine-strict=true

## 创建一个扁平node_modules 目录结构
shamefully-hoist=true

## 如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败。
strict-peer-dependencies=false

## 使用并缓存（预/后）安装挂钩的结果。
## pnpm 开启的话可能导致异常
side-effects-cache=false
